
.comment-scroll{
    max-height: 250px;
    overflow-y: scroll;
    padding: 15px;
}
.indv-comment{
    display: flex;
    flex-direction:row;
}
.comment-user{
    display: flex;
    flex-direction:column;
    max-width: 105px;

}
.comment-user> p{
   max-width: 100px;

   font-size:10pt;
  overflow-wrap: break-word;
}
.comment-user-pic{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.comment-content > p{
font-size: 10pt;
color: seagreen;
padding: 20px;
margin-left: 10px;
min-width: 350px;
min-height: 75px;
}.close-edit{
    text-align: right;
}
.edit-form{
    display: flex;
    flex-direction: column;
    min-width: 350px;

}
