
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Timmana&display=swap');

.addEventBtn{
    background-color: white;

    border: 2px solid  #72f4bf;
    color: rgb(69, 22, 106);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 20px;
    border-radius: 18px;
    text-align: center;

    height:fit-content;



}
.btnContainer{
    display: flex;
}
.container{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-block: visible;
    height: fit-content;


}
.mainContainer{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap:35px;
    
    margin-left: 20%;
    margin-bottom: 5%;
    width: fit-content;
    padding: 0%;



}
.landing>img{
    box-sizing: border-box;
    width: 100%;
    object-fit:cover;
    object-position: 0% 70%;
    height: 300px;
    display: inline;

    margin:0px;

}

main.landing{
    display: flex;

}
h1.landing{

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 50pt;
    text-align: center;
    color: rgb(69, 22, 106);
    margin: 0;
}
.landing>h2{
    box-sizing: border-box;
    color:white;
    font-family: 'Shrikhand', cursive;
    font-size: 100px;
    font-weight: 500;
    margin: 0px;
    width: 100%;
    position: relative;
    bottom:405px;
    z-index: 2;
    text-shadow: -1px -1px 0 rgb(80, 1, 1), 1px -1px 0 rgba(41, 39, 39, 0.233), -1px 1px 0 rgb(202, 202, 202), 1px 1px 0 rgb(202, 202, 202);
}
