@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;900&display=swap');
*{
    box-sizing: border-box;

}
nav{
    box-sizing: border-box;

    background:
    rgb(67, 43, 141);
    list-style-type: none;
    margin: 0;
    padding: 0;



}



li  .navLink{

    gap: 35px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;




}
nav ul{

    margin:0;
    padding:0;
    display: flex;
    height: auto;
    list-style-type: none;
    justify-content: flex-end;
}
.navLink {
    box-sizing: border-box;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 400;
    justify-content: right;
    float: right;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 10px;



}
.navLink#home{
padding-top: 25px;
}
.navLink#buddies{
    padding-right: 15px;
    }
.paw-btn{
    background-color: #72f4bf ;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgb(129, 53, 18, .5);
    padding:2px;
    width: 20%;
    height: 25px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;




}
.navBarCont{
    display: grid;
    grid-template-areas:"profile ." ;
    line-height: 45px;
}
.profile-dropdown{

    display: flex;
    flex-direction: column;
     align-content: space-between;
     width: fit-content;
     position: relative;
     left: 75%;
}
.profile-dropdown>li{
    color: white;
}
.paw-btn-logout{
    background-color: #72f4bf ;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgb(129, 53, 18, .5);
    padding-right:10px;
    width: fit-content;
    height: 25px;
    color: rgb(69, 22, 106);
    justify-self: center;
    float: center;
    margin-right: 5px;

}
.paw-btn-login{
    background-color: #72f4bf ;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgb(129, 53, 18, .5);
    padding-right:10px;
    width: fit-content;
    height: 25px;
    color: rgb(69, 22, 106);
    margin-left: 15px;
    margin-top: 25px;
    grid-row-start: 1 ;
    grid-column: 1;
}
.paw-btn-signup{
    background-color: #72f4bf ;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgb(129, 53, 18, .5);
    padding-right:10px;
    width: fit-content;
    height: 25px;
    color: rgb(69, 22, 106);
    margin-left: 15px;
    margin-top: 25px;
    grid-row-start: 1 ;
    grid-column: 1;

}
.signUp{
    grid-row-start: 1 ;
    grid-column: 1;
    color: white;
}
.loginAction{
    box-sizing: border-box;
    display: flex;
    max-width: fit-content;
}
